{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-xl-2">
        <a class="btn btn-outline-primary btn-pay" href="/electricity/single_pay" role="button">Сплатити</a>
    </div>
    {% if cur_category.counters %}
    <div class="col-xl-2">
        <a class="btn btn-outline-primary btn-pay" href="/electricity/counter_indicators" role="button">Внести
            показники</a>
    </div>
    {% endif %}
</div>

<div class="row">
    <!---->
    <!--Блок заборгованість-->
    <div class="col-xl-2">
        <div class="dept text-center">
            <div class="row dept-text"><span>Заборгованість</span></div>
            <div class="row dept-sum"><span>258,48</span></div>
            <div class="row dept-currency"><span>{{ currency }}</span></div>
        </div>
        <!--Блок меню-->
        {% include "menu.html" %}
    </div>

    <!--блок таблиць-->
    <div class="col-xl-6">
        <!--таблиця показників-->
        {% if cur_category.counters %}
        <h4>Останні передані показники</h4>
        {% for counter in cur_category.counters %}
        <p>{{ counter.name }}</p>
        <table class="table table-bordered text-center">
            <caption>* в таблиці відображені 4 останніх значення Вашого лічильника</caption>
            <tr class="table-primary">
                <th>Дата</th>
                <th>Покази лічильника, кВт*год</th>
                <th>Спожито, кВт</th>
            </tr>
            {% for indicator in counter.indicators %}
            <tr>
                <td>{{indicator.date}}</td>
                <td>{{indicator.value}}</td>
                <td>135</td>
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
        {% endif %}
        <!--таблиця платежів-->
        <h4>Останні платежі</h4>
        <div class="col-6">
            <table class="table table-bordered text-center">
                <caption>* в таблиці відображені 4 останніх платежі</caption>
                <tr class="table-primary">
                    <th>Дата</th>
                    <th>Сплачено, грн</th>
                </tr>
                <tr>
                    <td>09.01.2024</td>
                    <td>287</td>
                </tr>
                <tr>
                    <td>12.02.2024</td>
                    <td>267,45</td>
                </tr>
            </table>
        </div>
    </div>
    <!--Блок заборгованість-->
    <div class="col-xl-2">
        <div class="dept text-center">
            <div class="row dept-text"><span>Поточний тариф</span></div>
            <div class="row dept-price"><span>2,64</span></div>
            <div class="row dept-currency"><span>грн/кВт*год</span></div>
        </div>

    </div>

</div>
{% endblock %}