{% extends "base.html" %}

{% block content %}
<div class="col-xl">
    <!--таблиця показників-->
    <h4>Список операторів комунальних послуг</h4>
    <table class="table table-bordered text-center">
        <tr class="table-primary">
            <th>Найменування</th>
            <th>IBAN рахунок</th>
            <th>ЄДРПОУ</th>
            <th>Веб-сайт</th>
            <th>Категорія</th>
        </tr>
        {% for provider in providers %}
            <tr>
                <td>{{provider.name}}</td>
                <td>{{provider.iban}}</td>
                <td>{{provider.edrpou}}</td>
                <td>{{provider.site}}</td>
                <td>{{provider.category.name}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<div class="row">
    <div class="col-xl-3">
        <a class="btn btn-outline-primary btn-pay" href="/admin/provider/add" role="button">Додати нового оператора</a>
    </div>
</div>
{% endblock %}