{% extends "base.html" %}

{% block content %}
<div class="col-xl-6">
    <h4>Список валют</h4>
    <table class="table table-bordered text-center align-middle">
        <tr class="table-primary">
            <th>Назва</th>
            <th>Редагування</th>
            <th>Видалення</th>
        </tr>
        {% for unit in units %}
            <tr>
                <td class="col-sm-4">{{unit.value}}</td>
                <td class="col-sm-2"><a class="btn btn-outline-primary" href="/admin/unit/{{unit.id}}" role="button">Редагувати</a></td>
                <td class="col-sm-2"><a class="btn btn-outline-danger" href="/admin/unit/{{unit.id}}/delete" role="button">Видалити</a></td>
            </tr>
        {% endfor %}
    </table>
</div>
<div class="row">
    <div class="col-xl-3">
        <a class="btn btn-outline-primary btn-pay" href="/admin/unit/add" role="button">Додати одиницю вимірювання</a>
    </div>
</div>
{% endblock %}